<%= stylesheet_link_tag "poems" %>
<nav>
    <div class="nav-wrapper black op">
      <a ><%= link_to "Home",root_path, class:"ink" %></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to "Menu",poems_path,class:"ink" %></li>
        <li><%= link_to "Nuevo Poema",new_poem_path,class:"ink" %></li>
      </ul>
    </div>
  </nav>

<div class="row">
<div class="card col s5 offset-s3 center-align">
<h1 class="card-title ink">Nuevo Poema</h1>
<%= simple_form_for @poem do |x| %>
 <div class="row center-align">
    <div class="input-field  center-align">
      

      <%= x.input :title , input_html: {class: 'validate ' , id: 'Name'},wrapper: false%>
      <label for="Name">Title</label>
    </div>
</div>
<div class="row center-align">
    <div class="input-field  center-align">

           

      <%= x.input :body , input_html: {class: 'validate center-align materialize-textarea' , id: 'Text'},wrapper: false ,label_html:{class:'textarea'} %>
      <label for="Text">Body</label>
    </div>

</div>
<%= x.button :submit, 'Create New Poem', class:"btn-large" %>
<% end %>
</div>
</div>




  
